#aither{
    background-color: black;
    position: relative;
    height:579px;
    
    
}
#aither::before{
    content: "";
   background:
   linear-gradient(rgba(145, 33, 144,0.2), rgba(255, 149, 0,0.2)),
   url(../../image/aither-bg.png) no-repeat center center/cover;
background-size: contain;

position: absolute;
height: 78vh;
width:50%;
top: 0;
left: 0;
z-index: 1;
opacity: 0.9;
}

.aither-logo{
    position: absolute;
    right:125px;
    top:40px;
}
.aither-bg{
    position: absolute;
    left:0;
    top:0px;
   
}

div.main-ai{
    color: white;
    width: 565px;
    position: absolute;
    right:145px;
    top:146px;
}
.main-ai h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    font-family: var(--feature);
    margin-bottom: 15px;
}
.main-ai p{
    font-size: 16px;
    
    line-height: 26px;
    font-family: var(--subheading);
    margin-bottom: 40px;
}
